.immich-sync-block {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(3, 1fr);
}

.immich-sync-block:has(> .immich-sync-image:nth-child(1):last-child) {
	grid-template-columns: 1fr;
}

.immich-sync-block:has(> .immich-sync-image:nth-child(2):last-child) {
	grid-template-columns: 1fr 1fr;
}

.immich-sync-image img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
}

.immich-sync-error {
	color: var(--text-error);
	font-style: italic;
}
